certifi==2020.4.5.1
chardet==3.0.4
chromedriver-autoinstaller==0.2.0
colorama==0.4.3
EbookLib==0.17.1
idna==2.9
lxml==4.5.0
requests==2.23.0
selenium==3.141.0
selenium-wire==1.0.11
six==1.14.0
urllib3==1.25.8
